body {
  background-color: rgb(212, 241, 250);
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px 0px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.canvas-container {
  display: flex;
  justify-content: center;
}

.controls {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  font-size: 12px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.control__width,
.control__height {
  color: 1px solid rgba(0, 0, 0, 0.08);
  font-size: 15px;
  height: 18px;
  width: 50px;
  margin-right: 10px;
  padding-left: 5px;
}

div.controls__size {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.canvasClass {
  cursor: crosshair;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.controller {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controller .control-btn {
  margin-bottom: 30px;
}

.control-btn button,
#jsResize {
  all: unset;
  cursor: pointer;
  background-color: white;
  padding: 5px 0px;
  width: 80px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  font-size: 12px;
  font-weight: bold;
}

.control-btn button:active {
  transform: scale(0.97);
}

div.color-controller.jscolor.controls__color__clicked {
  border-color: #0652af;
  box-shadow: 0px 0px 15px #4195fc;
}

.controller .color-controller {
  display: flex;
  justify-content: center;
  margin-left: 5px;
}

.my {
  margin-top: 18px;
  font-size: 15px;
  font-weight: bold;
}

.color-controller .color-controller {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.controller .control-brush {
  margin-bottom: 25px;
}

/* modal */
.container {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}
.container a {
  padding: 10px;
  background: teal;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal.open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;

  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-container {
  display: block;
  border-radius: 10px;
  background: white;
  position: relative;
  padding: 30px;
}
.modal-close {
  position: absolute;
  right: 15px;
  top: 15px;
  outline: none;
  appearance: none;
  color: red;
  background: none;
  border: 0px;
  font-weight: bold;
  cursor: pointer;
}

